<header>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <h1 class="is-size-1">#!Shebang</h1>
            </a>

        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {{> components/basic/icon-button
                        id="sign-up"
                        class="is-danger is-outlined"
                        icon="arrow-right-from-bracket"
                        text="Sign Up"
                    }}
                        {{> components/basic/icon name=""}} <span>Sign Up</span>
                    {{/components/basic/button}}
                    {{#> components/basic/button id="log-in" class="is-outlined is-primary" text="Log In"}}
                        {{> components/basic/icon name="arrow-right-to-bracket"}} Log In
                    {{/components/basic/button}}
                </div>
            </div>
        </div>
    </nav>
</header>